body{
  background-color: #D0E0C0;
}

#main{
  width: 798px;
  margin: 40px auto;
  padding: 40px 80px;
  border: blue 1px solid;
  background-color: white;
    }
.btn{
  -webkit-appearance:none;
  margin: 5px;
}
#ingredient{
  border: 2px solid lightcoral;
}

th,td{
  border: 1px solid lightcoral;
}
